html body {
    background-color: #E0E0E0;
    width: 100%;
    height: 100%;
}

#topbar ul{
    background-color: dimgray;
    margin: 0;
    padding: 0;
}

#topbar li{
    display: inline;
    float: left;
    color: white;
    font-family: 'Text Me One', sans-serif;
    font-size: 3vh;
}

#topbar a {
    color: white;
    display: block;
    padding: 0px 5px;
}

#topbar a:hover {
    background-color: #858FE0;
}

#topbar {
    display: flex;
    position: fixed;
    align-items: center;
    background-color: dimgray;
    width: 100%;
    height: 5vh;
    margin: 0;
    padding: 0;
}

.products li {
    list-style-type: none;
    font-family: 'Encode Sans Semi Condensed', sans-serif;
    background-color: #D1D1D1;
    border: 5px solid black;
    font-size: 20px;
    margin: 10px 0;
}

.products ul {
    margin: 0;
    padding: 0;
    width: 50%;
}

.products {
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
}

#robotimg {
    max-width: auto;
}

.jumbotron {
    background-color: #E0E0E0;
    margin: auto;
    text-align: center;
    font-family: 'Encode Sans Semi Condensed', sans-serif;
}