html body {
    background-color: #E0E0E0;
    width: auto;
    height: 100vh;
}

.jumbotron {
    background-color: #E0E0E0;
    margin: auto;
    text-align: center;
    font-family: 'Encode Sans Semi Condensed', sans-serif;
}

#productimg {
    max-width: 100%;
    height: auto;
    padding-top: 25px;
}

#info {
    text-align: center;
    font-family: 'KoHo', sans-serif;
    color: #F2ECF0;
    font-size: 18px;
}

.infocol {
    border: 5px solid #E0E0E0;
    height: 37vh;
    background-color: dimgray;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.infocol:hover {
    background-color: #858FE0;
}
.activeinfocol {
    position: absolute;
    border: hidden;
    height: 55vh;
    width: 50vw;
    right: 25%;
    z-index: 1;
    align-items: baseline;
}
