html body {
    background-color: #E0E0E0;
    width: 100%;
    height: 100%;
}

.jumbotron {
    background-color: #E0E0E0;
    margin: auto;
    text-align: center;
    font-family: 'Encode Sans Semi Condensed', sans-serif;
}

#productimg {
    max-width: 100%;
    height: auto;
    padding-top: 25px;
}

#info {
    text-align: center;
    font-family: 'KoHo', sans-serif;
    color: #F2ECF0;
    font-size: 18px;
    width: 100%;
    margin-left: 0px;
}

.infocol {
    border: 5px solid #E0E0E0;
    height: 42vh;
    background-color: dimgray;
    display: flex;
    position: static;
    justify-content: center; 
    align-items: center;
}

.infocol:hover {
    background-color: #858FE0;
}

.infotxt {
    display: none;
    font-size: 23px;
}

.infocolexit {
    height: 15px;
    width: 15px;
    margin-bottom: 20px;
    top: 0;
    right: 0;
    z-index: 2;
    position: fixed;
    display: none;
}

.infohead {
    display: inline-block;
}

.activeinfocol {
    height: 55vh;
    width: 50vw;
    bottom: 25%;
    left: 25%;
    z-index: 2;
    align-items: baseline;
    position: absolute;
    border: hidden;
    text-align: center;
    background-color: dimgray;
}

.activeinfocol:hover {
    background-color: dimgray;
}

#topbar ul{
    background-color: dimgray;
    margin: 0;
    padding: 0;
}
#topbar li{
    display: inline;
    float: left;
    color: white;
    font-family: 'Text Me One', sans-serif;
    font-size: 20px;
}

#topbar a {
    color: white;
    display: block;
    padding: 0px 5px;
}

#topbar a:hover {
    background-color: #858FE0;
}

#topbar {
    position: fixed;
    background-color: dimgray;
    width: 100%;
    height: 5vh;
    margin: 0;
    padding: 0;
}

#overlay {
    position: fixed;
    display: none;
    height: 100%;
    width: 100%;
    opacity: 0.3;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: black;
}
