html body {
    background-color: #E0E0E0;
    width: 100%;
    height: 100%;
}

#wrapper {
    height: 750px;
    margin-top: 5vh;
    background-image: url("temp.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    font-family: 'Text Me One', sans-serif;
    color: white;
    font-size: 30px;
}

#wrapper p {
    text-align: center;
    padding-top: 20vh;
}

.jumbotron {
    background-color: #E0E0E0;
    max-height: 15vh;
    margin-bottom: 30px;
    text-align: center;
    font-family: 'KoHo', sans-serif;
}

#topbar ul{
    background-color: dimgray;
    margin: 0;
    padding: 0;
}

#topbar li{
    display: inline;
    float: left;
    color: white;
    font-family: 'Text Me One', sans-serif;
    font-size: 3vh;
}

#topbar a {
    color: white;
    display: block;
    padding: 0px 5px;
}

#topbar a:hover {
    background-color: #858FE0;
}

#topbar {
    display: flex;
    position: fixed;
    align-items: center;
    background-color: dimgray;
    width: 100%;
    height: 5vh;
    margin: 0;
    padding: 0;
}
 